@use 'colors' as *;

@mixin btn {
	width: auto;
	height: 50px;
	border: none;
	margin: 0.5rem;
	padding: 1rem;
	background-color: transparent;
	font-size: 1.9rem;
	text-transform: uppercase;
	cursor: pointer;
	font-family: inherit;
	transition: all 0.4s;
}

@mixin btnFrom {
	width: 140px;
	padding: 1rem;
	font-size: 1.6rem;
	height: 50px;
	border: none;
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	font-family: inherit;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.4s;

	&:hover {
		background-color: $gold;
		color: $dark;
	}
}
